.mn {
  font-family: Kanit, sans-serif;
  color: #ab6546;
  background-color: #ffffff;
  width: 305px;
  height: 405px;
  position: absolute;
  margin-top: 30px;
  left: 110px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text_p {
  padding: 10px 20px 10px;
  font-size: 30px;
}
.text_h{
    background-color: #AA6242;
     display:block;
     color:#FFFFFF;
     font-size:40px;
     padding-left:15px;
}
@media screen and (max-width: 1280px) {
  .mn {
    left: 35px;
    width: 200px;
    height: 300px;
  }
  .text_p {
    font-size: 20px;
  }
  .text_h{
      font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .mn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .text_p {
    font-size: 20px;
    display: block;
  }
  .text_h{

  }
}
