.mn{
    font-family: Kanit, sans-serif;
    color:#AB6546;
    background-color: #ffffff;
    width: 305px;
    height: 405px;
    position: absolute;
    margin-top: 30px;
    left: 110px;
    
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text_p {
    margin:10px 20px 10px ;
    font-size: 30px;
}