@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.nav{
    background-color: #AA6242;
    font-family: 'Kanit', sans-serif;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    color: #ffff;
}