@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
.nav {
  background-color: #aa6242;
  font-family: "Kanit", sans-serif;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: #ffff;
}
.head {
  background-image: url("https://learnthaifromawhiteguy.com/wp-content/uploads/2019/03/aroma-art-beverage-1251175.jpg");
  width: 100%;
  height: 391px;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  border: 3px solid #ffffff;
  padding: 15px 20px 15px;
  color: #ffffff;
  font-size: 77px;
}
